<h2>Now Playing</h2>

<div class="well"> 
<h3> <%= song.Artist.Name %></h3>
<h4> <%= song.Track.Name %></h4>
</div>

<a href="/auth/signup">Signup</a>
<a href="/auth/login">Login</a>
<a href="/auth/logout">Logout</a>
<a href="/profile">Profile</a>
