<a href="/auth/signup" class="btn btn-info">Signup</a>
<a href="/auth/login" class="btn btn-info">Login</a>
<a href="/auth/logout" class="btn btn-info">Logout</a>
<a href="/profile" class="btn btn-info">Profile</a>

<h2>User's Favorites go here??</h2>

<%= %>